:root{

--bg:#070b16;
--card:#101827cc;
--border:#ffffff15;

--blue:#4F8BFF;
--cyan:#00E5FF;
--purple:#8B5CF6;
--gold:#FFD54A;

--radius:24px;

}

*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;

}

html{

scroll-behavior:smooth;

}

body{

background:var(--bg);

color:white;

overflow-x:hidden;

min-height:100vh;

}

/* Background */

body::before{

content:"";

position:fixed;

left:-300px;
top:-300px;

width:700px;
height:700px;

background:#00E5FF20;

filter:blur(180px);

animation:float1 12s infinite alternate;

}

body::after{

content:"";

position:fixed;

right:-250px;
bottom:-250px;

width:650px;
height:650px;

background:#8B5CF630;

filter:blur(180px);

animation:float2 10s infinite alternate;

}

@keyframes float1{

to{

transform:

translate(120px,80px);

}

}

@keyframes float2{

to{

transform:

translate(-100px,-80px);

}

}
